body{
    background-color: #272826;
}


header{
    background-image: url(content/wp4545692.jpg); background-size: cover; background-repeat: no-repeat;
    padding-top: 20em; padding-bottom: 5em;
    
}


h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
   
}

img{
    padding-left: 2em; padding-right: 2em; padding-bottom: 2em; padding-top: 2em;
    align-content: center; 
    border-radius: 3em;
    

}

p{
    padding-inline-start: 4em;
    color: white;
    padding-top: 3em;
    margin: 30px;
    padding: 10px;
}




h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-top: 2em;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

li {
   display: inline;
   padding-left: 1em;
}

li a {
    color: white;
}

ul{
   text-align: center;
   padding-left: 4em;
   -ms-flex-align: start;
  }

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-top: 2em;
}
a:link{
    color: white;
    align-items: center;
}
a :visited{
    color: white;
}
.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
h6{
    color: white;
}
a:hover{
    color: white;
}
.link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;

}
.kopjeroadtrip {
    background-image: url(content/friends.jpeg); background-repeat: no-repeat; background-size: cover; 
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
    padding-top: 2em;
}



.firstidea {
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.kopje {
    padding-top: 2em;
    padding-bottom: 1em;
    background-image: url(content/rm452-f-014.jpg); background-repeat: no-repeat; background-size: cover;
}

.kopjeflights {
    background-image: url(content/Premium\ Photo\ |\ Growing\ global\ network\ and\ data\ connections\ concept.jpg); background-repeat: no-repeat; background-size: cover;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}


.ideatwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bulletjournal {
    display: flex;
    justify-content: center;
}
u:hover {
    color: #28275C;
}
.bullet {
    padding-bottom: 2em;
    
}
.dollar {
    background-color: #000000;
    align-items: center;
    margin: 10%;
    border-radius: 3em;
}


.header1 {
    margin: 10%;
    border-radius: 3em;
}
.store {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}

.kopjemovie {
    background-color: #28275C;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}


.movie {
    display: flex;
    align-items: center;
}
.header2 {
    background-color: #cfb472;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}
.boba {
    display: flex;
    align-items: center;
}

.kopjefb {
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
    background-color: #000000;
} 

.facebook {
    display: flex;
    align-items: center; 
}

.holiday {
    display: flex;
    align-items: center;
}
.header3 {
    background-color: #28275C;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}

.kopjemuseum {
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
    background-color: #000000;
}

.museum {
    display: flex;
    align-items: center;
}
.westfield {
    display: flex;
    align-items: center;
}
.header4 {
    background-image: url(content/shopp.jpeg);
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}

.kopjepaard {
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
    background-color: #cfb472;
}

.horseriding {
    display: flex;
    align-items: center;
}
.header5 {
    background-color: #28275C;
    padding-bottom: 2em;
    margin: 10%;
    border-radius: 3em;
}
.karaoke {
    display: flex;
    align-items: center;
}

.mybucket {
    background-image: url(content/Traveller\ Bag.jpg); background-repeat: no-repeat; background-size: cover;
    padding-bottom: 2em;
    margin: 5%;
    border-radius: 3em;
}
.Festival {
    background-image: url(content/festival.jpg);
    padding-bottom: 4em;
    margin: 15%;
    border-radius: 5em;
    
}

iframe {
    padding-left: 30%;
}
.Vaca {
    background-image: url(content/Turkije.jpg);
    padding-bottom: 4em;
    margin: 15%;
    border-radius: 5em;
}
.Paris {
    background-image: url(content/Paris.JPG);
    padding-bottom: 4em;
    margin: 15%;
    border-radius: 5em;
}

.concerts {
    background-image: url(content/Concerts.jpg);
    padding-bottom: 4em;
    margin: 15%;
    border-radius: 5em;
}
video {
    padding-left: 35%;
}
.Roadtrips {
    padding-bottom: 4em;
    margin: 15%;
    border-radius: 5em;
    background-image: url(content/IMG_0280.jpg); background-repeat: no-repeat; background-size: cover;
}